<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <!-- Latest compiled and minified Bootstrap 3.3.7 CSS -->
      <title>Home</title>
  </head>
  <body>

    <div>
        <ul>
        <li><a href="/BSD">BSD Students</a></li>
        <li><a href="allStudents">All Students</a></li>
        <li><a href="/highGPA">Highest GPA</a></li>
        <li><a href="/">Home</a></li>
        </ul>
        </div>
      <hr>
        {{{body}}}
      <hr>
      <h2>Student Honor Pledge</h2>
      <p>I acknowledge Seneca College's academic integrity policy.<br>On my honour I have neither giver or recieved unauthorised aid in this test.</p>
      <p>Name : <mark>Harnoor Kaur</mark></p>
          <p>Student Number:<mark>156624215</mark></p>
     </body>
</html>